@import 'src/assets/styles/reset';
@import 'src/assets/styles/global.scss';
@import 'src/assets/styles/mixin';
@import 'src/assets/styles/variables';

.topBar {
  background-color: $color-primary;
  .topBarInner {
    height: 42px;
    max-height: 42px;
  }
}
.topBarLeft {
  .listTopBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    height: 100%;
    li {
      height: 100%;
      font-size: 13px;
      
      display: flex;
      align-items: center;
      &::after {
        content: '';
        height: 100%;
        position: relative;
        inset-inline-end: calc((var(--nav-gap) / 2) * -1);
        border-right: 1px solid rgba(0, 0, 0, 0.105);
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
    a {
      color: $color-text;
      padding: 10px;
    }
  }
}
.border-1 {
  border-right: 1px solid #fff;
}
