@import 'src/assets/styles/reset';
@import 'src/assets/styles/global.scss';
@import 'src/assets/styles/mixin';
@import 'src/assets/styles/variables';

#tooltip {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
}

.category {
  min-width: 270px;
  max-width: 270px;

  @include breakpoint-down(smallphone) {
    min-width: 100%;
    max-width: 100%;
  }
}

.swiperHome {
  display: none;
  @include breakpoint-up(smallphone) {
    margin-left: 20px !important;
    display: flex;
  }
  .swiper-slide {
    // height: 300px;
    // width: 300px;
  }
}

.menuCategory {
  border-bottom: 1px solid rgba(0, 123, 196, 1);
  .headerCategory {
    position: relative;
  }

  .menuOpen {
    padding: 15px;
    background-color: rgba(0, 123, 196, 1);
    color: white;

    .menuIcon {
      margin-right: 10px;
    }
  }
}

.listMenu {
  box-shadow: none;
  transition: all 5s ease-in-out;
  .subMenu {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 123, 196, 1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
    top: 0;
    left: 100%;
    width: 700px;
    li a {
      padding: 15px;
      color: #fff;
      display: block;
      text-align: left;
    }
  }
  .parentItem {
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    border-right: 1px solid rgba(232, 232, 232, 1);
    border-left: 1px solid rgba(232, 232, 232, 1);
    img{
      margin-right: 15px;
    }
    &:hover {
      transition: all 0.5s ease;
      ul li {
        a:hover {
          font-weight: 600;
        }
      }
      a {
        color: #000;
        font-weight: 500;
      }
      .subMenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  a {
    padding: 12px 18px;
    color: #000;
    display: inline-block;
  }
}

//sectionCategory
.sectionCategory {
  .listCategory {
  }
}
.categoryItem {
  display: flex;
  flex-direction: column;
}
.swiperBanner {
  position: relative;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.inforBanner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  left: 5%;
  right: 0;
  text-align: left;
  > * {
    opacity: 0;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }
  .bannerSubTitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5rem;
    animation-name: slideInFromTop;
    animation-delay: 0.4s;
  }
  .bannerTitle {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    animation-name: slideInFromLeft;
    animation-delay: 0.6s;
  }
  .bannerDescription {
    margin: 20px 0;
    animation-delay: 0.8s;
    animation-name: slideInFromLeft;
  }
  .bannerButton {
    display: inline-block;
    background-color: $color-primary;
    color: #fff;
    margin-top: 10px;
    padding: 10px 18px;
    border-radius: 20px;
    animation-name: slideInFromBottom;
    animation-delay: 1s;
  }
}
