@import "src/assets/styles/reset";
@import 'src/assets/styles/global.scss';
@import "src/assets/styles/mixin";
@import "src/assets/styles/variables";

#tooltip {
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
  }