@import 'src/assets/styles/reset';
@import 'src/assets/styles/global.scss';
@import 'src/assets/styles/mixin';
@import 'src/assets/styles/variables';

.hotDealWrapper {
  padding: 10px;
  margin-bottom: 20px;

  .hotDealTitle {
    font-size: 14px;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
  }
  .productHotDeal {
    img {
      width: 100%;
    }
  }
}
.productWrapper {
  padding: 10px;
  .productInfor > * {
    margin-bottom: 20px;
  }
  .gallery {
    padding-left: 0;
  }
  .productImg {
    img {
      width: 100%;
    }
  }
  .productTitle {
    font-size: 2rem;
    font-weight: 700;
  }
  .productPrice {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .productReview {
    ul {
      display: flex;
    }
  }
  .productStatus {
    .statusLabel {
      font-size: 14px;
    }
  }
}
.quantInput {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 70px;
  .text {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    left: 0;
    padding: 0 20px 0 18px;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 1;
  }
}
.arrows {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  .arrow {
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 40px;
    cursor: pointer;
  }
}
.infoContainer {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  margin-bottom: 0;
  padding: 20px 0;
  line-height: 20px;
}
