@import 'src/assets/styles/reset';
@import 'src/assets/styles/global.scss';
@import 'src/assets/styles/mixin';
@import 'src/assets/styles/variables';

.product-item {
  text-align: center;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  .product-photo{
    display: block;
    border-bottom: 1px solid #ececec;
    img{
        // min-width: 230px;
        // max-width: 230px;
        width: 100%;
        padding: 10px;
        transition: 0.5s all ease-in-out;
      }
  }
  
  &:hover {
    border: 1px solid $color-primary;
    .product-photo img{
        transform: scale(1.1);
    }
    .product-item-inner {
      visibility: visible;
      opacity: 1;
    }
  }
}

.product-item-detail {
  margin-top: 20px;
  .productTitle {
    font-weight: 700;

    &:hover {
      color: $color-primary;
    }
  }

  .productBrand {
    display: inline-block;
    color: #868484;
    margin: 15px 0;
    font-weight: 600;

    &:hover {
      color: #6d6b6b;
    }
  }

  .priceBox {
    color: $color-primary;
    font-weight: 600;
  }

  .product-item-inner {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }

  .productAction {
    display: flex;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    text-align: center;
    > *{
      transition: 0.5s ease-in-out;
    }
    .actionWhishlist {
      display: inline-block;
      padding: 9px;
      border-radius: 5px 0 0 5px;
      border-right: none;
      margin-right: -1px;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      // float: left;
    }

    .actionAdd {
      display: inline-block;
      padding: 5px 14px;
      border: 2px solid $color-primary;
      border-radius: 20px;
      background-color: $color-primary;
      a{
        color: #fff;
      }
    }
    // .preview{
    // }
  }
}
