@import "src/assets/styles/reset";
@import 'src/assets/styles/global.scss';
@import "src/assets/styles/mixin";
@import "src/assets/styles/variables";

.product-item {
    padding: 10px;
    // width: calc(100%/3);
    text-align: center;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    // margin: 8px;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

    &:hover {
        border: 1px solid $color-primary;

        .product-item-inner {
            visibility: visible;
            opacity: 1;
        }
    }
}

.product-item-detail {
    .productTitle {
        font-weight: 700;

        &:hover {
            color: $color-primary;
        }
    }

    .productBrand {
        display: inline-block;
        color: #868484;
        margin: 15px 0;
        font-weight: 600;

        &:hover {
            color: #6d6b6b;
        }
    }

    .priceBox {
        color: $color-primary;
        font-weight: 600;
    }

    .product-item-inner {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s ease-in-out;
    }

    .productAction {
        display: none;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 35px;
        text-align: center;

        .actionWhishlist {
            display: inline-block;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            border: 2px solid $color-primary;
            border-right: none;
            margin-right: -1px;
            position: relative;
            vertical-align: middle;
            white-space: nowrap;
            float: left;
        }

        .actionAdd {
            display: inline-block;
            padding: 10px;
            border: 2px solid $color-primary;
            border-radius: 0px 5px 5px 0px;
        }
    }
}