@import 'src/assets/styles/reset';
@import 'src/assets/styles/mixin';
@import 'src/assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

.g-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.column{
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: inherit;
}
