@import 'src/assets/styles/reset';
@import 'src/assets/styles/mixin';
@import 'src/assets/styles/variables';
body{
  font-family: 'Montserrat', sans-serif;
}
.g-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container{
  max-width: 1222px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.column {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: inherit;
}
